<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Logowanie</title>
</head>
<body>
    <header>
        <h1 class="neon-title">Logowanie</h1>
    </header>
    <main>
        <form action="/login" method="post">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Zaloguj się</button>
        </form>
    </main>
</body>
</html>
